 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.products {
  margin-left: 2rem;
}
h1.ui.blue.block.inverted.header {
  text-align: left;
}
button.ui.primary.button {
  margin-top: -100%;
  margin-bottom: 10%;
}
button.ui.green.button.checkout {
  font-size: x-large;
  background: seagreen;
}
span.header {
  font-family: cursive;
  color: whitesmoke;
 
}





